.slideShow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  max-width: 1140px;
}
.slideShowContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideContainer img {
  width: 100%;
  height: 100%;
}
.active {
  height: 100%;
  opacity: 1;
  transition: opacity 2s; /*fade animation*/
}
.inActive {
  height: 0px;
  opacity: 0;
  transition: opacity 2s; /*fade animation*/
}
.slideShowBtns {
  position: absolute;
  top: 50%;
  background-color: black;
  color: white;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;
}
.slideShowPrev {
  left: 0;
}
.slideShowNext {
  right: 0;
}
.dots {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  gap: 0.5rem;
  cursor: pointer;
}
.dots span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 0.8;
  border: 1px solid;
}
.inActiveDot {
  background-color: white;
}
.activeDot {
  background-color: #0a0a0a;
}

@media screen and (max-width: 1000px) {
  .slideShow {
    width: 100%;
  }
}
